body {
    background-color: tomato;
    max-height: 100vh;
}

h1 {
    color: bisque;
    margin-left: 20px;
}
.image {
    width: 100%;
    max-width: 960px;
}

.imageGit {
    width: 100%;
    max-width: 640px;
}